body {
    background-image: url("https://images.genial.ly/5c9357997082c2326aa1498d/062d3b29-e723-411b-86f5-54888b2d1013.gif?genial&1653091200190");
    background-size: cover;
    background-color: aquamarine;
    background-size: cover;
    text-align: center;
    color: orangered;
}
    h1 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-shadow: 1px 1px 11px orange;
        word-wrap: break-word;
        font-weight: bold;
    }
.gameContainer {
    background-image: url("https://pngfolio.com/images/all_img/copy/1637498795tv-png.png");
    background-size: cover;
    background-color: whitesmoke;
    border-radius: 3%;
    border-width: 1em;
    height: 76vh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.players {
    width: 92%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 5%;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-bottom: 1px solid #ccc ;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

.player1Scoreboard {
    color: darkblue;
}

.player1 {
    text-align: left;
}

.p1guess {
    color: purple;
}

.player2Scoreboard {
    color: darkblue;
}

.player2 {
    text-align: left;

}
span{
    color: red;
}

.p2guess {
    color: purple;
}

.message {
    color: orange;
    background-color: aquamarine;
    width: 140px;
    margin-left: 41%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: expanded;
    font-size: 1.5em;
    margin-top: 3%;
    margin-bottom: 4%
}

.gameContent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.gameContent .word{
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-wrap: break-word;
    margin-left: 10px;
    text-shadow: 1px 1px 11px darkgreen;
    word-wrap: break-word;
}
.gameContent .hint{
    font-size: 1em;
    font-weight: bold;
    color: darkblue;
    width: 90%;
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: left;
}
.hint span{
    color: darkblue;
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
}
.gameContent .time{
    font-size: 1.2em;
    color: green;
    font-weight: bold;
}
.gameContent input{
    width: 90%;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(185, 185, 136);
    border-radius: 5px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    box-shadow: inset 1px 1px 5px pink,
                inset -1px 1px 5px pink;
}
.btnContainer {
    /* border: solid orange; */
    width: 60%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}
.btnBgColor {
    border: solid gainsboro;
    width: 180px;
    height: 40px;
    background-color: orange;
    color: rgb(85, 87, 85);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: inset 1px 1px 5px pink,
                inset -1px 1px 5px pink;
}
.btnStart {
    border: solid gainsboro;
    width: 150px;
    height: 40px;
    background-color: lime;
    color: red;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: inset 1px 1px 5px pink,
                inset -1px 1px 5px pink;
}
.btnConfirm {
    border: solid gainsboro;
    width: 140px;
    height: 40px;
    background-color: yellow;
    color: green;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: inset 1px 1px 5px pink,
                inset -1px 1px 5px pink;
}

.btnBdColor {
    border: solid gainsboro;
    width: 180px;
    height: 40px;
    background-color: pink;
    color: rgb(85, 87, 85);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: inset 1px 1px 5px pink,
                inset -1px 1px 5px pink;
}
.infoContainer {
    border: solid blue;
    border-style: dotted;
    border-width: .2em;
    width: 60%;
    background-image: url("https://media.vanityfair.com/photos/61fc05cc66597c17dbaa4917/5:3/w_1999,h_1199,c_limit/why-is-the-world-playing-wordle.gif");
    background-size: cover;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
h4 {
    text-align: left;
    margin-left: 2em;
    margin-top: .2em;
    margin-bottom: .1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(255, 0, 238);
}
ol {
    text-align: left;
    font-size: .7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(255, 0, 238);
}

